/* intro language */

body{
  overflow-x: hidden !important;
  background-color: #1a1a1a;
  color: #FFF;
  font-family: 'Muli', sans-serif;
}

#idiom{
  text-align: center;
}

#idiom a{
  color: #FFF;
  margin: 40px 10px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 300;
}

#idiom a:hover{
  text-decoration: underline;
}

img{
  text-align: center;
  margin-top: 30%;
  margin-bottom: 110px;
}
