/* Mesanje */

body{
	background-color: #FFF;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Muli', sans-serif;
}

.message{
	margin-top: 20%;
	text-align: center;
	color: rgba(40,34,32,1);
}

#gear{
    animation-name: ckw;
    animation-duration: 2s;
    /* Things added */
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
		margin-top: 15%;
		margin-bottom: -17%;
		margin-left: 46%;
}
@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
